html{
    height: 100%;
  }
  #addQuestion{
    background-color: #C5C9B8;
    width: 100%;
    color: #333333;
    height: 150px;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px 0;
    align-items: center;
    justify-content: space-around;
    display: flex;
    float: none;
}
  
  body{
    position: relative;
    min-height: 100%;
    padding-bottom: 5rem;

  }
  
  .hidden{
    display: none;
  }
  /** Navbar CSS **/
  .mr-auto, .mx-auto {
      margin-top: 12px;
      margin-bottom: -10px;
      
  }
  /** End Navbar CSS **/
  
  /** Product CSS **/
  .product-item{
    background: #dcf4fc;
  }
  .child-rows {
      padding-left: 20px;
      border-left: 1px solid #dfdfdf;
      background: #FFF;
  }
  .child-rows a.list-group-item{
    border-left: 0px!important;
  }
  .list-group-item.active {
      z-index: 2;
      color: #fff;
      background-color: #02aadd;
      border-color: #02aadd;
      border-radius: 0px!important;
  }
  /** End Product CSS **/
  
  
  
  
  /**
   * Override CSS's
   */
   .bg-light {
       background-color: #F1F1F1;
   }
  
  
  .margin-top-20{
    margin-top: 20px;
  }
  .feature-img{
    max-height: 200px
  }
  .pointer{
    cursor: pointer;
  }
  
  .footer-bottom{
    padding: 20px;
    margin-top: 20px;
    background: #02aadd;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
  }
  